.banner-acerca{
    height: 655px;
    background-image: url('../assets/fondo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: 'Montserrat', sans-serif;
}

.banner-acerca h2{
    color: white;
    width: 900px;
    font-size: 4.5rem;
    font-weight: 500;
    padding: 30px 50px 50px 70px;
    animation: mostrar 1.3s ease-in;
}