.banner-inicio{
    height: 655px;
    background-image: url('../assets/fondo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    font-family: 'Poppins', sans-serif;
}

.banner-inicio h2{
    color: white;
    width: 750px;
    font-size: 4.5rem;
    font-weight: 500;
    padding: 30px 50px 50px 70px;
    animation: mostrar 1.3s ease-out;
}

@media screen and (max-width: 768px) and (min-width: 481px){
    .banner-inicio{
        height: 530px;
    }
}

@media screen and (max-width: 480px) and (min-width: 321px){
    .banner-inicio{
        width: 100%;
        height: 500px;
    }

    .banner-inicio h2{
        font-size: 3rem;
        padding: 15px 30px 35px 40px;
    }
} 

@media screen and (max-width: 320px) and (min-width: 0){
    .banner-inicio{
        width: 100%;
        height: 400px;
    }

    .banner-inicio h2{
        font-size: 2rem;
        padding: 15px 30px 35px 30px;
    }
}
