.info{
    background: #f5f2f2;
    font-family: 'Poppins', sans-serif;
}

.info h3{
    text-align: center;
    color: #000637;
    font-size: 2.3rem;
    font-weight: 500;
    padding: 100px 300px 70px 300px;
    /* animation: animarTexto 1.4s ease-in; */
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .info h3{
        padding: 60px 150px 40px 150px
    }
}

@media screen and (max-width: 480px) and (min-width: 321px){
    .info{
        padding: 0;
    }

    .info h3{
        font-size:1.8rem;
        padding: 60px 20px 40px 20px;
    }
}

@media screen and (max-width: 320px) and (min-width: 0){
    .info{padding: 0}

    .info h3{
        font-size: 1.5rem;
        padding: 50px 10px 35px 10px;
    }
}
